.wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
  
  .card-container {
    width: 300px;
    height: 480px;
    background-color: #ffffff;
    position: relative;
    z-index: -2;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
  }
  
  .top-card {
    background-color: #1E88E5;
    height: 100px;
    position: relative;
    z-index: -3;
    overflow: none;
  }
  
  .top-card2 {
    background-color: rgba(0,0,0,0.12);
    height: 120px;
    width: 100%;
    top: 0;
    position: absolute;
    z-index: -3;
  }
  
  .circle {
    width: 120px;
    height: 120px;
    background-color: #ECEFF1;
    position: absolute;
    border-radius: 50%;
    top: 105px;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
  }
  
  .bottom-card {
    height: 60px;
    width: 100%;
    position: absolute;
    background-color: #1E88E5;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #ECEFF1;
  }
  
  .bottom-card-title {
    margin-top: 14px;
    font-size: 16px;
    font-weight: 600;
  }
  
  .bottom-card-sub {
    margin-top: -6px;
    font-size: 14px;
  }
  
  .image-class {
    border-radius: 50%;
    z-index: 3;
    width: 110px;
    height: 110px;
    position: absolute;
    left:50%;
    transform: translate(-50%, 0);
    margin-top: -50.5px;
    object-fit: cover;
  }
  
  .title-text {
    position: relative;
    z-index: 4;
    margin-top: 75px;
    font-size: 26px;
    font-weight: 600;
    color: #263238;
  }
  
  .info-text {
    position: relative;
    z-index: 4;
    margin-top: 12px;
    font-size: 14px;
    color: #263238;
  }
  
  .desc-text {
    position: relative;
    z-index: 4;
    font-size: 12px;
    color: #263238;
  }